# Project
node_modules
build
dist

# Yarn workspace
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Jetbrains IDEs
.idea/
*/.idea/

# Husky - pre-commit hooks
.husky/_/
